<!doctype html>

<html>
  <head>
    <script type="text/javascript" src="{{ url_for('static', filename='framework.js') }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const basic = new Text(document.querySelector('#add'), 'Basic text');
        const style = new Text(document.querySelector('#add'), 'style text', 'style', 'h1');
        const p = document.createElement('p');
        p.innerHTML = 'paragraph';
        document.querySelector('#add').append(basic.text, style.attach, p);
        class Thing {
          constructor(name) {
            this.name = name;
            this.value = 'wifi';
          }
        }
        const thing = new Thing('what');
        document.querySelector('#add').append(thing.name, thing.value);
      });
    </script>
  </head>
  <body>
    <div id='add'>
    </div>
  </body>
</html>
